{% extends 'base.html' %} {% block main %} {% load ehcofilter %}

<div class="column is-12">
    <section class="hero is-info is-smaill">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Email notification:
                </h1>
                <h2 class="subtitle">
                    Please check the trash if you haven't received it
                </h2>
            </div>
        </div>
    </section>
</div>
<div class="column is-12">
    <div class="box">
        <p class="title">Password reset email has been sent</p>
        <a class="button is-success is-outlined" href="{% url 'sspanel:login' %}">Login</a></h1>
        <hr>
        <div class="columns">
            <div class="column is-6">
                <article class="message is-primary">
                    <div class="message-header">
                        <p>Tips：</p>
                        <button class="delete"></button>
                    </div>
                    <div class="message-body">
                        <p>If the account corresponding to the email address you entered exists, the password setting prompt has been sent to you and you will receive it soon.</p>
                    </div>
                </article>
            </div>
            <div class="column is-6">
                <article class="message is-primary">
                    <div class="message-header">
                        <p>Tips:</p>
                        <button class="delete"></button>
                    </div>
                    <div class="message-body">
                        <p>If you do not receive the email, please make sure the address you entered is correct, and check your spam folder</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

    {% endblock main %}