{% extends 'base.html' %} {% block main %} {% load static %}
<div class="column is-12">
    <section class="hero is-info is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    How to install
                </h1>
            </div>
        </div>
    </section>
</div>

<div class="column is-12">
    <div class="box">
        <h2 class="subtitle">
            Download:
        </h2>
        <p><a class="download_link" href="/static/media/clients/clash.apk">Clash for Android</a>  <br>       
            <a class="download_link" href="/static/media/clients/clashX.dmg">Clash for Mac OS</a>     <br>
            <a class="download_link" href="/static/media/clients/clash.exe">Clash for Windows</a></p> <br>
            <a href="https://apps.apple.com/us/app/quantumult/id1252015438">Quantumult</a><br>
            <a href="https://apps.apple.com/us/app/pepi/id1283082051">Pepi</a><br>
            <a href="https://apps.apple.com/us/app/shadowrocket/id932747118">Shadowrocket </a><br>
            <a href="https://apps.apple.com/us/app/i2ray/id1445270056">i2Ray</a><br>
            <a href="https://apps.apple.com/us/app/kitsunebi-proxy-utility/id1446584073">Kitsunebi</a><br>
            <a href="https://apps.apple.com/us/app/91vpn/id1483753706">91VPN</a>
    </div>
    <div class="box">
        <button class="accordion">Tutorial for Windows (Clash)</button>
        <div class="panel">
            <br>
            <br>
                <h2 class="subtitle">
                    Для приложения Clash
                </h2>
            <p>Перед настройкой в первую очередь вы должны быть<a href="{% url 'sspanel:register' %}">Зарегистрированы</a> и 
                <a href="{% url 'sspanel:login' %}">авторизованы</a>.
                <br/> </p>
            <p><strong>1. </strong> Устанавливаем приложение (Внимание! При установке может выйти уведомление от антивируса или от защитника Windows, нажимаем "Выполнить в любом случае" или нужно нажать подобное) (это не вирус!) </a></p>
            <p><strong>2. </strong> В личном кабинете нажимаем кнопку <strong>"Subscription address"</strong> копируем ссылку <strong>"Subscribe to Clash"</strong></p>
            <p><strong>3. </strong> Открываем Clash >> переходим в Profiles >> нужно вставить ранее скопированную ссылку и нажать <strong>"Download"</strong>.</p>
            <p><strong>4. </strong> Переходим в General >> включаем <strong>"System Proxy"</strong> (Если не работает можете перейти на >> "Proxies" выбрать нужный вам метод подключения)</p>
            <br>
            <br>
            <img src="{% static 'media/tutorial/win/1.png' %}" alt="download" width="500px"><br>
            <img src="{% static 'media/tutorial/win/2.png' %}" alt="download" width="500px"><br>
            <img src="{% static 'media/tutorial/win/3.png' %}" alt="download" width="500px"><br>
            <img src="{% static 'media/tutorial/win/4.png' %}" alt="download" width="500px"><br>
            <img src="{% static 'media/tutorial/win/5.png' %}" alt="download" width="500px"><br>
            <br>
            <br>
        </div>

        <button class="accordion">Tutorial for Android (Clash)</button>
        <div class="panel">
            <br>
            <br>
                <h2 class="subtitle">
                    Для приложения Clash
                </h2>
                <p>Перед настройкой в первую очередь вы должны быть<a href="{% url 'sspanel:register' %}">Зарегистрированы</a> и 
                    <a href="{% url 'sspanel:login' %}">авторизованы</a>. </p>
                <p><strong>1. </strong> Скачивание и установка приложения</p>
                <p><strong>2. </strong> В личном кабинете нажимаем кнопку <strong>"Subscription address"</strong> копируем ссылку <strong>"Subscribe to Clash"</strong></p>
                <p><strong>3. </strong> В приложении переходим в "Profiles" >> "New Profile" >> "URL" >> в "URL" вставляем ранее скопированную ссылку >> в "Auto Update" - пишем "30" >> "Name" - опционально. Сверху справа нажимаем на иконку >> "дискеты" >> три точки >> "Update" >> Выбираем нашу подписку. В главном экране нашего приложения нажимаем на кнопку "Stopped" (Подключаемся) </p>
            <br>
            <br>
            <img src="{% static 'media/tutorial/android/1.png' %}" alt="android" width="500px"><br>
            <img src="{% static 'media/tutorial/android/2.png' %}" alt="android" width="500px"><br>
            <br>
            <br>
        </div>

        <button class="accordion">Tutorial for IOS (Shadowrocket)</button>
        <div class="panel">
            <br>
            <br>
            <h2 class="subtitle">
                Для приложения Shadowrocket
            </h2>
            <p>Перед настройкой в первую очередь вы должны быть<a href="{% url 'sspanel:register' %}">Зарегистрированы</a> и 
                <a href="{% url 'sspanel:login' %}">авторизованы</a>. </p>
            <p><strong>1. </strong> Скачивание и установка приложения</p>
            <p><strong>2. </strong> В личном кабинете нажимаем кнопку <strong>"Subscription address"</strong> копируем ссылку <strong>"Subscribe to SS/Vmess"</strong></p>
            <p><strong>3. </strong> Дальше по картинкам.</p>
                <br>
                <br>
                <img src="{% static 'media/tutorial/ios/shadowrocket/1.png' %}" alt="android" width="500px"><br>
        </div>

        <button class="accordion">Tutorial for Mac OS (ClashX)</button>
        <div class="panel">
            <br>
            <br>
            <h2 class="subtitle">
                Для приложения ClashX.
            </h2>
            <p>Перед настройкой в первую очередь вы должны быть<a href="{% url 'sspanel:register' %}">Зарегистрированы</a> и 
                <a href="{% url 'sspanel:login' %}">авторизованы</a>.
                <br/> </p>
            <p><strong>1. </strong> Скачиваем и устанавливаем приложение </p>
            <p><strong>2. </strong> В личном кабинете нажимаем кнопку <strong>"Subscription address"</strong> копируем ссылку <strong>"Subscribe to Clash"</strong></p>
            <p><strong>3. Дальше по картинкам</strong></p>
            <br>
            <br>
            <img src="{% static 'media/tutorial/mac/1.png' %}" alt="android" width="500px"><br>
        </div>
    </div>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
    </script>

{% endblock main %}