{% extends 'base.html' %} {% load ehcofilter %}{% block main %} {% include "basehead.html" %}

<!-- <br /> {% if user.is_authenticated %}
<div class="box">
    <p class="title">欢迎小主: {{ user.username }}</p>
    <p class="subtitle">点击下方按钮进入用户中心 </p>
    <button class="button">
        <a href="{% url 'sspanel:userinfo' %}">进入</a>
    </button>

</div>
{% else %}
<div class="column box ">
    {% settings_value "ALLOW_REGISTER" as allow_register %}
    {% if allow_register is True %}
    <h1 class="title"> 注册注册</h1>
    <h2 class="subtitle">没有账号？快去注册一个吧！</h2>
    <a class="button is-primary is-outlined" href="{% url 'sspanel:register' %}">注册</a>
    {% else %}
    <h1 class="title"> 抱歉抱歉！</h1>
    <h2 class="subtitle">暂时关闭注册了呢~</h2>
    {% endif %}
</div>
<br />
<div class="column box ">
    <h1 class="title"> 登录登录！</h1>
    <h2 class="subtitle">有账号了？登录吧少年！</h2>
    <a class="button is-danger is-outlined" href="{% url 'sspanel:login' %}">登录</a>
</div>
<br /> {% endif %} {% endblock main %} -->

<section class="hero is-fullheight is-dark header-image">
    <div class="hero-body">
        <div class="container has-text-centered">
          <br>
              {% if user.is_authenticated %}
              <div class="container mybuttons">
                <a href="{% url 'sspanel:userinfo' %}"><button class="button mybutton">Go to billing panel</button></a>
              </div>
              {% else %}
              <div class="container mybuttons">
                <a class="button is-link  mybutton" href="{% url 'sspanel:register' %}">Try it Free</a>
                <a class="button is-danger is-outlined mybutton" href="{% url 'sspanel:login' %}">Log in</a>
              </div>
              {% endif %}
        </div>
    </div>
    <div class="content has-text-centered" style="font-size: 11px;">
        <a href="{% url 'sspanel:index' %}">XYZ</a> © 2018-2020
    </div>
</section>
{% endblock main %}