{% extends 'base.html' %} {% load ehcofilter %}{% block main %}

<br /> {% if user.is_authenticated %}
<div class="box">
    <p class="title">Hello: {{ user.username }}</p>
    <button class="button">
        <a href="{% url 'sspanel:userinfo' %}">Go to billing</a>
    </button>

</div>
{% else %}
<div class="column box ">
    {% settings_value "ALLOW_REGISTER" as allow_register %}
    {% if allow_register is True %}
    <a class="button is-primary is-link" href="{% url 'sspanel:register' %}">Sign up</a>
    <a class="button is-danger is-outlined" href="{% url 'sspanel:login' %}">Login</a>
    {% else %}
    <h1 class="title"> Sorry</h1>
    <h2 class="subtitle">Registration is temporarily closed~</h2>
    {% endif %}
</div>
<br />

<br /> {% endif %} {% endblock main %}