{% extends 'base.html' %} 
{% block main %}
<div class="column is-12">
    <nav class="level box ">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Username:</p>
                <p class="title">{{ user }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Balance：</p>
                <p class="title"><code>{{ user.balance }}元</code></p>
            </div>
        </div>
    </nav>
    <div class="box">
        <div class="content">
            <p class="subtitle">Purchase history:</p>
            <table class="table is-striped">
                <thead>
                    <tr>
                        <th>ID:</th>
                        <th>Option:</th>
                        <th>Money:</th>
                        <th>Date:</th>
                    </tr>
                </thead>
                {% for record in records %}
                <tr>
                    <td>#{{ record.pk }}</td>
                    <td>{{ record.good_name }}</td>
                    <td>{{ record.money }}</td>
                    <td>{{ record.created_at}}</td>
                </tr>
                {% empty %}
                <h2 class="subtitle">
                    You have not bought anything yet ....
                </h2>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock main %}