{% extends 'base.html' %} {% block main %}


<div class="column is-12">
    <div class="box">
        <h3 class="title">Sign up!</h3>
        <form class="form" action="{% url 'sspanel:register' %}" method="post">
            {% csrf_token %} {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
            {% if field.help_text %}
            <p class="help is-danger">{{ field.help_text|safe }}</p>
            {% endif %} {% endfor %}
            <hr>
            <div class="field is-grouped">
                <p class="control">
                    <button type="submit" class="button is-link">Sign up!</button>
                </p>
                <p class="control">
                    <a class="button is-white is-text" href="{% url 'sspanel:login' %}">Login</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock main%}